@charset "UTF-8";

/* Media Queries */

/* 

    Break points

Pequenas telas: 0px - 600px
Celulares: 601px - 768px
Tablet: 769px - 992px
Monitores: 993px - 1200px
Telas grandes: Maiores que 1200px

*/

