@charset "UTF-8";

/* Media Queries */

/* 

    Break points

Pequenas telas: 0px - 600px
Celulares: 601px - 768px
Tablet: 769px - 992px
Monitores: 993px - 1200px
Telas grandes: Maiores que 1200px

*/

@media screen and (max-width: 769px) {
    main div#divtxt1 {
        margin: 85px 0px 0px 20px;
        width: 200px;
        transition-duration: 1s;
    }

    main div#divtxt3 {
        margin: 40px 0px 0px 20px;
        height: fit-content;
        border-radius: 7px;
        padding: 10px 0px;
    }
    

    header > h1 {
        font-size: 3em;
    }

    header h1:hover {
        font-size: 3.3em;
        transition-duration: 1s;
    }


    main div#div3 {
        background-color: cadetblue;
        background-image: url(../imagens/PessoaImersa.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 420px;
    }

    header li {
        font-size: 1.3em;
    }

    header li:hover {
        background-color: var(--cor2);
        transition-duration: 0.9s;
        color: var(--cor0);
        font-size: 1.6em;
    }
    
    header li:not(:hover) {
        transition-duration: 1s;
    }

    main div#divtxt2 {
        width: 350px;
        height: 360px;
        border-radius: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width: 769px) and (max-width: 1020px) {
    main div#divtxt1 {
        margin: 111px 0px 0px 66px;
        width: 300px;
        transition-duration: 1s;
    }

    main div#divtxt3 {
        margin: 111px 0px 0px 66px;
        height: fit-content;
        border-radius: 7px;
        padding: 10px 0px;
        width: 300px;
    }

    /*main div#divtxt2 {
        width: 390px;
        height: 430px;
    }*/

    main div#divtxt2 {
        width: 350px;
        height: 360px;
        border-radius: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    main div#div3 {
        background-image: url(../imagens/PessoaImersa.jpg);
    }

    main div#div3 {
        background-position: center center;
    }

    main div#divtxt3 p {
        font-size: 19px;
    }

    main div#divtxt1 p {
        font-size: 19px;
    }

    header h1 {
        font-size: 4em;
    }

    header h1:hover {
        font-size: 4.3em;
        transition-duration: 1s;
    }

    header li {
        font-size: 1.9em;
    }
}

@media screen and (min-width: 1020px) {
    header h1 {
        font-size: 5em;
    }

    header h1:hover {
        transition-duration: 1s;
    }

    header h1:not(:hover) {
        transition-duration: 1s;
    }

    header h1:hover {
        font-size: 5.3em;
    }

    header a {
        font-size: 2em;
    }

    /*header li:hover {
        font-size: 7em;
    }*/

    main div#div3 {
        background-image: url(../imagens/PessoaImersa.jpg);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;
    }

    main div#divtxt1 {
        margin: 90px auto;
        height: fit-content;
        border-radius: 7px;
        padding: 10px 0px;
        min-width: 400px;
        transition-duration: 1s;
    }

    main div#divtxt1 p {
        font-size: 22px;
    }

    main div#divtxt3 {
        margin: 85px auto;
        height: fit-content;
        border-radius: 7px;
        padding: 10px 0px;
        min-width: 400px;
    }

    main div#divtxt3 p {
        font-size: 22px;
    }

    main div#divtxt2 {
        width: 390px;
        height: 430px;
        border-radius: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    div#divtxt2 p {
        font-size: 21.2px;
    }
}