@charset "UTF-8";

/* Mobile version */
/* 0px - 768px */


/*

a52a2a
ffa9a3
dde0bd
5c95ff
000022

*/



@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Jersey+10&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --fonte-normal: 'Anek Devanagari';
    --fonte-titulo: 'Jersey 10', sans-serif;
    --cor0: #a52a2a;
    --cor1: #ffa9a3;
    --cor2: #dde0bd;
    --cor3: #5c95ff;
    --cor4: #000022;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

header {
    padding-top: 40px;
    padding-bottom: 0px;
    background-color: var(--cor0);
}

header > ul > li {
    list-style-type: none;
}

header > h1 {
    font-family: var(--fonte-titulo);
    font-size: 2.5em;
    text-align: center;
    color: var(--cor4);
}

header h1:hover {
    font-size: 2.7em;
    transition-duration: 1s;
}

header h1:not(:hover) {
    transition-duration: 1s;
}

header ul {
    text-align: center;
}

nav {
    background-image: linear-gradient(to bottom, var(--cor0), #4a0400);
    padding-bottom: 40px;
}

header li {
    display: inline-block;
    color: var(--cor4);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 50px;
    background-color: var(--cor1);
    padding: 5px;
    border-radius: 10px;
    font-family: var(--fonte-titulo);
    font-size: 1.3em;
}

header li a {
    text-decoration: none;
    color: var(--cor4);
}

header li a:hover {
    color: var(--cor0);
    transition-duration: 1s;
}

header li:hover {
    background-color: var(--cor2);
    transition-duration: 0.9s;
    color: var(--cor0);
    font-size: 1.6em;
}

header li:not(:hover) {
    transition-duration: 1s;
}

main p {
    margin: 20px;
    text-indent: 10px;
}

main div.DivPrincipal {
    margin: 0px;
    padding: 1px;
    width: 100vw;
    height: 400px;
}

main div#div1 {
    background-color: aqua;
    background-image: url(../imagens/QuadroNegro.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main div#div2 {
    background-image: linear-gradient(to bottom, var(--cor0), #1f0525);
    position: relative;
}

main div#div3 {
    background-color: cadetblue;
    background-image: url(../imagens/PessoaImersa.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    
}

main div#div4 {
    background-color: rgb(159, 164, 223);
}

main div.DivTexto {
    background-color: rgba(255, 255, 255, 0.784);
    width: 190px;
    padding: 0px;
    height: 100%;
    /*margin-top: -1px;
    margin-left: -2px;*/
    /*border: 1px solid black;*/
    text-align: center;

}

main div.DivTexto p {
   /*margin-top: 35%;*/
}

main div#divtxt1 {
    border-radius: 7px;
    margin: 85px 0px 0px 20px;
    height: fit-content;
    padding: 10px 0px;
}

main div#divtxt2 {
    width: 350px;
    height: 360px;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main div#divtxt2 p {
    top: 120px;
    position: relative;
}

main div#divtxt2 img {
    width: 100%;
    margin-bottom: -120px;
    height: 200px;
    padding-bottom: 0px;
    border-radius: 40px 40px 0px 0px;
    margin-top: 2px;
}

main div#divtxt3 {
   margin: 40px 0px 0px 20px;
   height: fit-content;
   border-radius: 7px;
   margin-top: 75px;
   padding: 10px 0px;
    
}

footer {
    margin-top: -5px;
    padding: 20px;
    background-color: var(--cor4);
    border-radius: 10px 10px 0px 0px;
}

footer a {
    text-decoration: none;
    color: var(--cor2);
    display: block;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor3);
}